<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
   <link rel="stylesheet" th:href="@{/css/blg002.css}">
    
    <title>Document</title>
</head>
<body>
    <h1>掲示板</h1>
  <div id="board">
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>作成日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ガナダラマサア</td>
          <td>2023-10-30</td>
        </tr>
        <tr>
          <td>あいうえおかきくけこ</td>
          <td>2023-10-30</td>
        </tr>
        <tr>
          <td>いくいくいくいく</td>
          <td>2023-10-30</td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- js -->
   <script th:src="@{/js/blg001.js}"></script>
</body>
</html>