<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/BLG001.css">
    <title>Document</title>
</head>
<body>
    <h2 class="title">ログインしましょう</h2>
    <form>
        <label for="username">アカウント</label>
        <input type="text" id="username" name="username" required>

        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="ログイン">

        <div class="additional-links">
            <a href="#">新規登録</a>
            <a href="#">アカウントを忘れた</a>
            <a href="#">パスワードを忘れた</a>
        </div>

    </form>
</body>
</html>